*{
    margin: 0px;
    padding: 0px;
}
.logo-size{
    width: 200px;
}
.menu-section{
    background-color: #596264;
    padding: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    list-style: none;
    display: flex;


}
.style{
    margin-right: 15px;
    font-size: 20px;
    cursor: pointer;
}
.style:hover{
    color: aqua;
}
.header{
    font-size: 55px;
    font-weight: bold;
}
.para{ 
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.button{
    padding: 10px 15px;
    background-color: #F20B13;
    color: azure;
    border: none;
    border-radius: 5px;
}
.button:hover{
    color:chartreuse;
    cursor: pointer;
}
.photo-style{
    width: 350px;
}
.info{
    display: flex;
    justify-content:space-around;
    height: 100vh;
    align-items: center;
    background-image: url("./images/background.png"), 
    linear-gradient(70deg, rgb(10, 4, 4), rgb(51, 47, 47));
    color: azure;
}
.header2{
    font-size: 55px;
    text-align: center;
}
.about-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 25px;
}
.header4{
    color: white;
}
.icon{
    width: 80px;
}
.box{
    width: 280px;
    height: 330px;
    box-shadow: 10px 10px 15px 5px gray;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 5px 19px;
}
.button2{
    background-color: #596264;
    padding-top: 10px;
}
.header3{
    padding: 10px;
}
.service{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.main-service{
    background-image: url("./images/background.png"),
    linear-gradient(30deg, rgb(43, 42, 42), rgb(43, 42, 42)) ;
    padding: 60px;
}
.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 190px;
    align-items: center;
}
.logo3:hover{
    color: chartreuse;
    cursor: pointer;
}
.logo2{
    padding-bottom: 20px;

}
.last-word{
      color: azure;
      background-color: black;
      text-align: center;
      padding-bottom: 40px;
      padding-top: 20px;
}
